## Extract message body if available
#set($body = $input.body)
#if(!$body)
  #set($body = '{}')
#end

#set($parsedBody = $util.parseJson($body))
#set($action = $parsedBody.action)

## Determine HTTP method based on WebSocket routeKey
#if($context.routeKey == "\$default")
  #set($path = "/websocket/default/$action")
  #set($httpMethod = "POST")
#end
#if($context.routeKey == "\$connect")
  #set($path = "/websocket/connect")
  #set($httpMethod = "GET")
#end
#if($context.routeKey == "\$disconnect")
  #set($path = "/websocket/connect")
  #set($httpMethod = "DELETE")
#end

## Construct transformed event JSON
{
  "resource": "$context.routeKey",
  "path": "$path",
  "httpMethod": "$httpMethod",
  "headers": {
    "Content-Type": "application/json",
    "X-WebSocket-Connection-Id": "$context.connectionId"
  },
  "queryStringParameters": null,
  "pathParameters": null,
  "stageVariables": {},
  "requestContext": {
    "resourcePath": "$context.routeKey",
    "httpMethod": "$httpMethod",
    "requestTime": "$context.requestTime",
    "path": "$path",
    "protocol": "HTTP/1.1",
    "stage": "$context.stage",
    "requestTimeEpoch": $context.requestTimeEpoch,
    "requestId": "$context.requestId",
    "identity": {
      "sourceIp": "$context.identity.sourceIp"
    },
    "domainName": "$context.domainName",
    "apiId": "$context.apiId"
  },
  "body": $input.json('$.data'),
  "isBase64Encoded": false
}
